@import 'variable-overrides';

.avatar {
    border: 0.3rem solid rgba(#fff, 0.3);
    margin-top: -10rem;
    margin-bottom: 1rem;
    float: left;
    max-width: 9rem;
  }

  .movie-title{
    font-weight: 800;
    font-size: 30px;    
  }

  .movie-genre{
    margin-top: 0rem; 
  }
  

  .off-row{
    margin-top: -5rem; 
    padding-left: 2rem; 
    margin-bottom: 1rem;
  }

  .container-search .vbottom{
    position: absolute;
    bottom: 0px;
    width: 95%;
    margin-bottom: 1rem;
    margin-left: -1rem;
  }

 
  