@import 'variable-overrides';

.sidebox-title{
    margin-top: 10px;
    color:  $purple !important; 
}

.movie-search{
    border-radius: 2rem;
    border-color: $purple;   
}

.media-row {
    justify-content: center;
}

.container-search{
    background-color: $white;
    padding: 2% 5%  5%  5%;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    min-height: 90vh;    
}

.movielist-box{
    margin-top: 30px;
}

.movie-poster{
    width: 150px;
    max-height: 200px;
}

.media-heading{
    text-align: left;    
}

.magenta{
    background-color: $magenta;
    border-color: $magenta;
}

.pagination {
    margin: 40px auto;
    display: flex;
    list-style: none;
    outline: none;
  }

  .pagination > .active > a {
    background-color: $purple!important;
    color: #fff;
  }

  .pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    
  }

  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: $pink!important;
    border-color: #47ccde;
    outline: none;
    border-radius: 100%;
  }

  .pagination > li > a, .pagination > li > span{
    color: $purple!important;   

  }
  
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset;
  }




  
