@import 'variable-overrides';

.sidebox-title{
    margin-top: 10px;
    color:  $purple !important; 
}

.movie-search{
    border-radius: 2rem;
    border-color: $purple;   
}

.media-row {
    justify-content: center;
}

.container-search{
    background-color: $white;
    padding: 2% 5%  5%  5%;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    min-height: 90vh;    
}

.movielist-box{
    margin-top: 30px;
    padding: none;
}


@include media-breakpoint-up(md) { 
    .movie-poster{
        width: 160px;
    max-height: 220px;
    }
 }

@include media-breakpoint-down(xs) { 
    .movie-poster{
        width: 110px;
        max-height: 150px;
    }
 }

// @media screen and (max-width: 1588px) {
//     .movie-poster {
//         width: 120px;
//         max-height: 180px;
//     }
//   }

.media-heading{
    text-align: left;    
}

.magenta{
    background-color: $magenta;
    border-color: $magenta;
}

.pagination {
    margin: 30px auto;
    display: flex;
    list-style: none;
    outline: none;
    border-radius: 0.25rem;
    font-size: medium;
    font-weight: 1000;
  }

  .pagination > li > a{
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    
  }

  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: $pink!important;
    outline: none;
    border-radius: 100%;
  }

  .pagination > li > a, .pagination > li > span{
    color: $purple!important;   

  }
  
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset;
  }




  
