// Variable overrides for Bootstrap
// (look in bootstrap/variables to see
// what variables exists)
@import 'variable-overrides';

// The whole Bootstrap library
@import 'bootstrap/bootstrap';


.movie-search{
    border-radius: 2rem;
}

.media-item{
    background:pink !important;
    margin-top: 3px;
      border-radius: 2rem;
  
}

